<%-include('header')-%>
    <section class="book-ad" id='kids-of-concern'>
        <%- include('bookad.ejs') %>

    </section>
    <section class='About' id='about'>
        <%- include('about.ejs') %>

    </section>
    <section class='cta'>
        <!-- <div class='container-fluid'>
            <div class="section-border"></div>
        </div>-->
    </section>

    <%-include('newsletter')-%>
    
         <%-include('footer')-%>   
    